.borders {
  border: 2px solid #fff;
}

.borderd {
  border: 2px dotted #50e976;
}

* {
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  color: white;
}

body {
  overflow: hidden;
  /* Hide scrollbars */
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-transition: 0s;
  transition: 0s;
  background-color: #191c27;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#191c27), to(#192127));
  background: linear-gradient(to right bottom, #191c27, #192127);
}

@media (pointer: coarse) {
  * {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  body {
    overflow: visible;
    /* show scrollbars */
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .main > *:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 10px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.main > div:first-child {
  border: burlywood;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main .lock {
  height: 40px;
  width: 100%;
  padding: 10px;
}

.main .lock .switch {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
}

.g-container {
  width: 90vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.g-container > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.66%;
          flex: 0 0 17.66%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media all and (max-width: 724px) {
  .g-container {
    width: 95vw;
    height: 96%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .lock .switch {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

a {
  width: 100%;
  height: 100%;
}

.mail {
  background: url(../imgs/mail.svg) no-repeat left top;
  -webkit-transform: scale(0.9) rotate(-1deg);
          transform: scale(0.9) rotate(-1deg);
}

.twitter {
  background: url(../imgs/twitter.svg) no-repeat left top;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.patreon {
  background: url(../imgs/patreon.svg) no-repeat left top;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.insta {
  background: url(../imgs/Instagram.svg) no-repeat left top;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.facebook {
  background: url(../imgs/facebook.svg) no-repeat left top;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.deviantart {
  background: url(../imgs/deviantart.svg) no-repeat left top;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.discordPublic {
  background: url(../imgs/discord.svg) no-repeat left top;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.discordPrivate {
  background: url(../imgs/discord.svg) no-repeat left top;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.discordPrivate:hover::after {
  content: "Jonnas#1835";
}

.linkedin {
  background: url(../imgs/linkedin.svg) no-repeat left top;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.github {
  background: url(../imgs/github-desktop.svg) no-repeat left top;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.youtube {
  background: url(../imgs/YouTube.svg) no-repeat left top;
  -webkit-transform: scale(0.9) rotate(-1deg);
          transform: scale(0.9) rotate(-1deg);
}

.lbry {
  background: url(../imgs/lbry.svg) no-repeat left top;
}

.imagewithin {
  background-size: contain;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (hover: hover) {
  .imagewithin:hover {
    -webkit-transition: 0.12s;
    transition: 0.12s;
    cursor: pointer;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transform: scale(1.3) rotate(5deg);
            transform: scale(1.3) rotate(5deg);
  }
}

@media (pointer: coarse) {
  input[type="checkbox"], input[type="radio"] {
    min-width: 30px;
    min-height: 40px;
    background: transparent;
  }
  .imagewithin {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

#privates {
  position: absolute;
}

.hideshow-private {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateX(-110vw);
          transform: translateX(-110vw);
}

.hideshow-public {
  -webkit-transform: translateX(110vw);
          transform: translateX(110vw);
}

.locked {
  position: absolute;
  -webkit-transform: translateY(-110vw);
          transform: translateY(-110vw);
  visibility: hidden;
}

.switch {
  height: 24px;
  width: 100px;
  display: block;
  position: relative;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch input + span {
  padding-left: 50px;
  min-height: 24px;
  line-height: 24px;
  display: block;
  color: #99A3BA;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.switch input + span:before, .switch input + span:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 12px;
}

.switch input + span:before {
  top: 0;
  left: 0;
  width: 42px;
  height: 24px;
  background: #E4ECFA;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.switch input + span:after {
  width: 18px;
  height: 18px;
  background: #fff;
  top: 3px;
  left: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(18, 22, 33, 0.1);
          box-shadow: 0 1px 3px rgba(18, 22, 33, 0.1);
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.switch input + span em {
  width: 8px;
  height: 7px;
  background: #99A3BA;
  position: absolute;
  left: 8px;
  bottom: 7px;
  border-radius: 2px;
  display: block;
  z-index: 1;
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.switch input + span em:before {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -1px;
}

.switch input + span em:after {
  content: '';
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #99A3BA;
  border-bottom: 0;
  width: 6px;
  height: 4px;
  left: 1px;
  bottom: 6px;
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
  -webkit-transform: rotate(-35deg) translate(0, 1px);
          transform: rotate(-35deg) translate(0, 1px);
}

.switch input + span strong {
  font-weight: normal;
  position: relative;
  display: block;
  top: 1px;
}

.switch input + span strong:before, .switch input + span strong:after {
  font-size: 14px;
  font-weight: 500;
  display: block;
  font-family: 'Mukta Malar', Arial;
  -webkit-backface-visibility: hidden;
}

.switch input + span strong:before {
  content: 'Public';
  -webkit-transition: all .3s ease .2s;
  transition: all .3s ease .2s;
}

.switch input + span strong:after {
  content: 'Private';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  color: #5628EE;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translate(2px, 0);
          transform: translate(2px, 0);
}

.switch input:checked + span:before {
  background: rgba(86, 40, 238, 0.35);
}

.switch input:checked + span:after {
  background: #fff;
  -webkit-transform: translate(18px, 0);
          transform: translate(18px, 0);
}

.switch input:checked + span em {
  -webkit-transform: translate(18px, 0);
          transform: translate(18px, 0);
  background: #5628EE;
}

.switch input:checked + span em:after {
  border-color: #5628EE;
  -webkit-transform: rotate(0deg) translate(0, 0);
          transform: rotate(0deg) translate(0, 0);
}

.switch input:checked + span strong:before {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
}

.switch input:checked + span strong:after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .3s ease .2s;
  transition: all .3s ease .2s;
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
.my-mt-5{
    margin-top: 45px !important;
}
@media only screen and (max-width: 575px) {
    .my-mt-5{margin-top: 0 !important;}
}
*/
/*
* {
    transition: 1s;
    position: relative;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(25, 28, 39);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

ul {
    list-style: none;
}

.flexparent {
    display: flex;
    flex-direction: column;
    align-items: center; //center horizontally
    justify-content: center; //center vertically
}

img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

#main {
    border: 4px solid grey ;
    width: 80vw;
    height: 45vh;

    // divs that are direct childs of main
    > div {
        width: 100%;
        height: 100%;
    }

    .butns_parent{
        height: 100%;
        width: 100%;
        display: grid;
        // lifesaver, switch between automatic columns based on rows or reversed
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fill, 1fr);
        //grid-template-rows: 1fr minmax(1fr,1fr);
        grid-template-rows: 1fr 1fr;

        place-items: center;
        
        //grid-template-columns: repeat(3, 1fr);
        grid-gap:1em;

        a {
            display: grid;
            place-items: center;
            position: relative;
            display: inline-block;
            margin: 0;
        }
        > div {
            display: grid;
            place-items: center;
        }
    }
}

@media all and (max-width: 724px){
    body{
        //background-color: red;
    }
    #main {
        background-color: red;
        width: 96vw;
        height: 98vh;
    }
}
*/
/*# sourceMappingURL=style.css.map */